.information {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.information .information-content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  width: 400px;
  height: 570px;
  background: #ffffff;
  transform: translateX(-50%) translateY(-50%);
}

.information .information-content .information-header {
  position: relative;
  padding: 30px;
  border-bottom: 1px solid #e4e9ee;
}

.information .information-content .information-header .header-portrait {
  float: left;
  width: 80px;
  height: 80px;
}

.information .information-content .information-header .header-portrait img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.information .information-content .information-header .header-content {
  float: left;
  padding-top: 10px;
  margin-left: 15px;
}

.information .information-content .information-header .header-content .header-name {
  font-size: 14px;
  color: #3a4a59;
}

.information .information-content .information-header .header-content .header-account {
  font-size: 12px;
  color: #6b8299;
}

.information .information-content .information-header .header-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
}

.information .information-content .information-header .header-close img {
  width: 100%;
  height: 100%;
}

.information .information-content .section {
  position: relative;
  padding: 30px;
  height: 190px;
}

.information .information-content .section .section-detail {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #333;
}

.information .information-content .section .detail-list .list-item {
  position: relative;
  padding-left: 50px;
  height: 22px;
  line-height: 14px;
  padding: 4px 0 4px 0px;
  margin-top: 10px;
  font-size: 14px;
}

.information-header::after {
  display: table;
  content: "";
  overflow: hidden;
  clear: both;
}
