.message-center {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background: rgba(0, 0, 0, .6);
  .center-content {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 22;
    width: 680px;
    height: 580px;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 5px;
    transform: translateX(-50%) translateY(-50%);
    .content-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding: {
        left: 15px;
        right: 15px;
      }
      border-bottom: 1px solid #ced4d9;
      font-size: 16px;
      color: #3a4a59;
      background-color: #edecee;
      .header-button {
        img {
          height: 22px;
          width: 22px;
          cursor: pointer;
        }
        .button-delete {
          margin-right: 10px;
        }
      }
    }
    .content-tabbar {
      width: 100%;
      .tabbar-switch {
        display: flex;
        height: 46px;
        .switch-item {
          width: 50%;
          height: 44px;
          text-align: center;
          font-size: 14px;
          line-height: 44px;
          width: 50%;
          background-color: #f3faff;
          cursor: pointer;
        }
        .SwitchItemClick {
          background-color: #e5f4ff;
          border-bottom: 2px solid #6b8299;
        }
      }
      .tabbar-skip {
        width: 100%;
        height: 470px;
        overflow-y: auto;
        .skip-item {
          display: none;
          width: 100%;
        }
        .skipItemShow {
          display: block;
        }
      }
    }
  }
}
